img {
    margin-top: -12px;
    width: 200px;
    padding-left: 20px;
    padding-bottom: 20px;
}

body {
    margin-left: 15px;
}

.petView {
    font-size: 20px;
    margin-left: 20px;
}

.intro {
    margin-left: 10px;
}

h3 {
    font-size: 30px;
    border-top: 1px black solid;
    padding-top: 10px;
}

form {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
}
