body {
    margin-left: 15px;
    text-align: center;
}

form {
    padding: 14px 0px 30px 0px;
    border-bottom: 1px black solid;
}

h1 {
    font-size: 50px;
    padding-bottom: 10px;
}

img {
    margin-top: -12px;
    height: 300px;
    width: 275px;
    padding-left: 20px;
    padding-bottom: 20px;
}

input {
    height: 35px;
    width: 200px;
    vertical-align: middle;
    margin-right: 2px;
    font-size: 1em;
    border: 1.5px solid black;
}

::-webkit-input-placeholder {
    color: black;
    opacity: .3;
}

.buttonAdd {
    font-size: 13px;
    color: black;
    background-color: peachPuff;
    padding: 6px;
    border-radius: 10px;
    border-style: groove;
}

.petInfo {
    font-size: 16px;
    padding-bottom: 10px;
    margin-left: 25px;
}

.petView {
    font-size: 23px;
    margin-left: 25px;
    margin-top: 30px;
}
